.lang {
  @apply relative uppercase font-semibold;

  nav {
    a {
      @apply flex items-center gap-2;
    }
  }

  li {
    a {
      img {
        @apply pointer-events-none;
      }
    }
  }
}

.home {
  .lang {
    nav {
      a {
        @apply md:text-white;
      }
    }
  }

  #languages-menu {
    &.menu {
      li {
        &:after {
          @media screen and (min-width: $md) {
            border-color: $white transparent transparent;
          }
        }
      }
    }
  }
}

#languages-menu {
  @apply relative;

  &.menu {
    > li {
      @apply relative;

      &:after {
        content: "";
        border-width: 5px 3px 0;
        border-style: solid;
        border-color: $gray-800 transparent transparent;

        @apply w-0 h-0 absolute pointer-events-none -right-3 top-1/2 transform -translate-y-1/2;
      }

      a {
        span {
          @apply pointer-events-none;
        }
      }
    }
  }

  &.menu-opened {
    .sub-menu {
      @apply z-10 -translate-y-0 flex flex-col absolute top-full;
    }
  }

  &:not(.menu-opened) {
    .sub-menu {
      @apply opacity-0 pointer-events-none transform -translate-y-3 hidden;
    }
  }
}
