#site-navigation {
  li {
    &:not(:last-child) {
      @apply mr-10;
    }

    a {
      width: fit-content;

      @apply block relative text-gray-400 text-sm;

      &:hover {
        &:before {
          transform: scaleY(1) translateX(-50%);
        }
      }

      &:focus-visible {
        @apply outline-none;
      }

      &:before {
        height: 2px;
        content: '';
        transform: scaleY(0) translateX(-50%);

        @apply absolute -bottom-1 left-1/2 block w-full bg-blue transition duration-200 ease-out origin-center;
      }
    }

    &.current-menu-item {
      a {
        &:before {
          transform: scaleY(1) translateX(-50%);
        }
      }
    }
  }

  .header {
    &__products {
      a {
        &.active {
          &:before {
            transform: scaleY(1) translateX(-50%);
          }

          + .sub-menu {
            @apply transform -translate-x-1/2 translate-y-0 z-20 pointer-events-auto opacity-100;

            a {
              &:before {
                transform: scaleY(0) translateX(-50%);
              }

              &:hover {
                &:before {
                  transform: scaleY(1) translateX(-50%);
                }
              }
            }

            .sub-menu {
              @apply pointer-events-auto;
            }
          }
        }

        &:not(.active) {
          + .sub-menu {
            @apply transform -translate-x-1/2 -translate-y-12 opacity-0 -z-3 pointer-events-none;
          }
        }
      }

      > a {
        + .sub-menu {
          @apply absolute w-full bg-white left-1/2 grid grid-cols-5 gap-x-14 mx-0 py-6 pointer-events-none transition-all duration-300 ease-out overflow-y-auto max-h-screen md:px-12 border-t border-gray-100 shadow-sm;

          &::-webkit-scrollbar {
            @apply w-1;
          }

          &::-webkit-scrollbar-track {
            @apply bg-gray-100 bg-opacity-30 rounded-full;
          }

          &::-webkit-scrollbar-thumb {
            @apply bg-gray-100 rounded-full;
          }

          > li {
            @apply mx-0;

            &:not(:last-child) {
              @apply mx-0;
            }

            &:nth-child(2) {
              @apply col-span-2;

              .sub-menu {
                @apply grid lg:grid-cols-2 gap-x-8;
              }

              li {
                &:nth-of-type(3) {
                  @apply col-start-1;
                }

                &:last-child {
                  @apply col-start-2 row-start-1;
                }

                &:not(:last-child) {
                  @apply mb-4;
                }

                .sub-menu {
                  @apply block grid-cols-1 pb-3;
                }
              }
            }

            &:not(:nth-child(2)) {
              .sub-menu {
                @apply block;
              }
            }

            a {
              @apply font-bold uppercase text-blue mb-6;
            }

            .sub-menu {
              @apply static transform-none left-auto w-full mt-3 pt-0 opacity-100 z-0;

              li {
                @apply block grid-cols-1 w-full font-normal mb-0;

                &:not(:last-child) {
                  @apply mb-3;
                }

                a {
                  @apply font-semibold mb-0 text-gray normal-case;
                }

                li {
                  a {
                    @apply font-normal text-gray-300 mt-0;
                  }
                }

                &.novelity,
                &.popular {
                  @apply relative;

                  &:after {
                    font-size: 10px;

                    @apply inline-table bg-red font-bold text-white uppercase absolute right-0 top-0 px-4 pb-1 pt-1 leading-none;
                  }
                }

                &.novelity {
                  &:after {
                    content: 'NOWOŚĆ';

                    @apply bg-red;
                  }
                }

                &.popular {
                  @apply relative;

                  &:after {
                    content: 'POPULAR';

                    @apply bg-blue;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .menu-header-menu-bottom-angielski-container {
    .header {
      &__products {
        > a {
          + .sub-menu {
            > li {
              .sub-menu {
                li {
                  &.novelity {
                    &:after {
                      content: 'NOVELITY';
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#secondary-menu {
  @apply xl:mr-36 sm:mr-8 flex items-center justify-center sm:justify-end;

  li {
    @apply text-xs sm:mx-0 mx-3;

    &:not(:last-child) {
      @apply sm:mr-7;
    }
  }

  a {
    &:hover {
      @apply text-opacity-70;
    }
  }
}

.social-menu {
  li {
    &:not(:last-child) {
      @apply mr-5;
    }
  }
}
