.sec-1 {
  min-height: 300px;

  @apply relative z-10 overflow-hidden flex items-center;

  @media screen and (min-width: $xl) {
    min-height: 600px;
  }

  .attachment-post-thumbnail {
    @apply absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 -z-3 pointer-events-none object-cover w-full h-full;
  }

  &:before {
    content: "";
    background: linear-gradient(45deg, rgba(0, 0, 0, 46%) 0%, rgba(0, 0, 0, 0%) 100%);

    @apply absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none w-full h-full;
  }
}

.home {
  .sec-2 {
    @apply bg-blue pt-8;

    a {
      @apply relative flex flex-col justify-end overflow-hidden z-10 text-center lg:h-96 h-72;

      @media screen and (min-width: $xl) {
        height: 500px;
      }

      img {
        @apply absolute w-full h-full object-cover -z-3 transition-transform duration-300 ease-out;
      }

      &:hover {
        img {
          @apply transform scale-110;
        }
      }

      &:before {
        width: calc(100% + 1px);
        content: "";
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0%) 0%, rgba(0, 0, 0, 68%) 100%);

        @include center;
        @apply absolute block h-full pointer-events-none;
      }
    }

    &__cat {
      @apply transition-opacity duration-500 ease-out opacity-0;

      h3 {
        @apply text-white relative z-10 pointer-events-none mb-14;

        &:before {
          content: "";

          @include center(x);
          @apply h-px w-16 absolute bg-white -bottom-4;
        }
      }
    }

    &.aos-animate {
      .sec-2 {
        &__cat {
          @apply opacity-100;

          @for $i from 1 through 4 {
            &:nth-of-type(#{$i}) {
              transition-delay: 300ms + (75ms * $i);
            }
          }
        }
      }
    }
  }
}

.sec-articles {
  @apply md:pt-16 pt-10;
}

.product {
  &__thumbnail {
    @apply flex items-center justify-center border border-gray-400 relative sm:h-96 h-80 xl:pt-0 sm:pt-20 overflow-hidden;

    @media screen and (min-width: $xl) {
      height: 500px;
    }

    .compare-button {
      @apply absolute left-5 top-10 z-10 hover:text-blue;

      &:hover {
        path {
          stroke: $blue;
        }
      }
    }
  }

  &__content {
    @apply xl:px-8 px-6 pt-6;

    &--cat {
      @apply text-sm text-gray-300 hover:underline mb-2;
    }

    &--name {
      @apply text-blue text-lg font-semibold mb-6;
    }
  }

  &:not(:first-of-type) {
    .product {
      &__thumbnail {
        @apply border sm:border-l-0;
      }
    }
  }
}
