.post {
  &-template {
    &-default {
      .entry-content {
        @apply leading-relaxed text-gray;

        .article {
          &__content {
            a {
              @apply underline hover:text-blue;
            }

            ul,
            ol {
              @apply mb-6 md:pl-16 pl-8;

              li {
                &:not(:last-child) {
                  @apply mb-4;
                }

                ul,
                ol {
                  @apply mb-0 mt-4;

                  li {
                    @apply block relative;

                    &:before {
                      top: 0;
                      content: "\2022";

                      @apply absolute -left-9 text-2xl leading-none;
                    }
                  }
                }
              }
            }

            ul {
              list-style-type: disc;
            }

            ol {
              list-style-type: decimal;
            }
          }
        }
      }
    }
  }
}
