$black: #000000;
$white: #ffffff;
$green: #aec65a;
$blue: #0047a9;
$blue-hover: #003989;
$gray: #212529;
$gray-100: #e7e7e7;
$gray-300: #8c8c8c;
$gray-400: #707070;
$gray-800: #333333;
$red: #d63637;

// Screens
$sm: "576px";
$md: "768px";
$lg: "992px";
$xl: "1200px";
$xxl: "1536px";
